@primaryColor: #E0FF91;
/* 224 255 145 */

@secondaryColor: #9DE89B;
/* 157 232 155 */

@tertiaryColor: #B7FFDE;
/* 183 255 222 */

@backgroundColor: #A1E1E8;
/* 161 225 232 */

@highlightColor: #84B3FF;
/* 132 179 255 */

@boxShadow: 4px 4px 8px -2px #bababa;

body {
  background-color: white;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  background-color: #f3f3f3;
  color: #003373;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
  padding-top: 20px;
  z-index: 999;
  text-align: center;

  background: rgb(167,207,223); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */

  img {
    margin-bottom: -1px;
  }
}

main {
  margin: 85px 0 15px;
  padding: 15px;
}

section {
  text-align: left;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 8px;
  box-shadow: @boxShadow;
}

.summary {
  margin-bottom: 15px;
  padding: 15px 0;

  .face img {
    border: 1px solid #797979;
  }
}

.content {
  border-top: 0;
  margin-bottom: 20px;
  border-radius: 0 0 8px 8px;
}

nav {
  padding: 0;
  margin: 0 auto;
  background-color: lightgrey;
  border: 1px solid darkgrey;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  box-shadow: 5px 6px 8px -2px #bababa;

  a {
    padding: 8px 15px;
    display: inline-block;
    width: 13%;
    text-align: center;
  }

  a:after {
    border-bottom: 1px solid white;
    color: red;
    content: ' ';
  }
  /*a:first-child {
    padding-left: 15px;
  }*/

  .active {
    border: 1px solid darkgrey;
    border-width: 0 1px;
    background-color: white;
    color: #21334C;
    border-radius: 8px 8px 0 0;
    box-shadow: 4px 0px 4px -2px #bababa;
  }
  :first-child.active {
    border-width: 0 1px 0 0;
  }
}

aside {
  position: relative;
  float: right;
  min-height: 450px;
  background-color: lightgrey;
  width: 150px;
}

footer {
  background-color: lightgrey;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 36px;
  border-top: 1px solid darkgray;
  text-align: center;
  padding: 0;
  font-weight: bold;
  box-shadow: 0px 4px 4px -3px darkgray inset;

  img {
    height: 36px;
  }

  .copy {
    font-size: 20px;
  }
}