<h2>My Contact Information</h2>

<h3 data-ng-if="showContact">Address</h3>
<p data-ng-if="showContact">
  {{ summary.address.street }}<br>
  {{ summary.address.city }}, {{ summary.address.state }} {{ summary.address.zip }}
</p>

<h3>Contact Information</h3>
<p data-ng-if="showContact">
  Website: {{ summary.contact.website }}<br>
  Email: {{ summary.contact.email }}<br>
  Phone: {{ summary.contact.phone }}
</p>
<p data-ng-if="!showContact" data-ng-click="setShowContact()">
  Click to see the contact information.
</p>