<h2>My Source Code</h2>
<p>
  The code used to generate this website is available for perusal on GitHub.com. I started this redesign in mid April
  2016 and is still currently in progress.
</p>

<dl>
  <dt>
    <h3>Front End Repo</h3>
  </dt>
  <dd>
    <p>
      <a href="https://www.github.com/cmeza/webmech-www" target="_blank">https://www.github.com/cmeza/webmech-www</a>
    </p>

    <p>
      <strong>Details</strong><br>
      It uses AngularJS 1.5 and assets managed with Bower/NPM. All CSS/JS assets are compiled, concatenated,
      and minified with Grunt.
    </p>
  </dd>

  <dt>
    <h3>Back End Repo</h3>
  </dt>
  <dd>
    <p>
      <a href="https://www.github.com/cmeza/webmech-api">https://www.github.com/cmeza/webmech-api</a>
    </p>

    <p>
      <strong>Details</strong><br>
      PHP using Slim 2.6 microservices MVC framework for a REST API. External assets managed with Composer, including a
      CORS middleware for Slim. The resume object was kept simple as a static JSON object. Some of the future features
      I'd like to add to the site would require a database and I will use MySQL 5.7.
    </p>
  </dd>
</dl>