<ui-view class="history">
  <h3>My Employment History</h3>

  <table class="table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th colspan="2">Dates</th>
        <th>Title</th>
        <th colspan="2">Company</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="job in jobs"
          data-ng-click="gotoDetail(job.id)">
        <td>{{ job.dateStart | date:'yyyy' }}</td>
        <td>{{ job.dateEnd | date }}</td>
        <td class="job-title">{{ job.title }}</td>
        <td>{{ job.company.name }}</td>
        <td class="details">
          <button type="button" class="btn btn-primary btn-sm">
            Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ui-view>