<div class="col">
  <h2>My Portfolio</h2>

  <p>
    Included here are some screenshots of work I've done over the last 15 years or so.
  </p>

  <ul>
    <li>
      <h4>
        2015: Munzee Hybrid App
      </h4>
      <p>
        The Fitbit OAuth API was successfully integrated with the Munzee app in January 2016.
      </p>
      <ul>
        <li>
          <a href="images/portfolio/2015-MunzeeApp-1FitnessAuthorization.png" title="Munzee App - Fitness Authorization" rel="gb_imageset[portfolio]">
            Fitness Authorization</a>
        </li>
        <li>
          <a href="images/portfolio/2015-MunzeeApp-2FitnessVendors.png" title="Munzee App - Fitness Vendors" rel="gb_imageset[portfolio]">
            Fitness Vendors</a>
        </li>
        <li>
          <a href="images/portfolio/2015-MunzeeApp-3FitnessProfile.png" title="Munzee App - Fitness Profile" rel="gb_imageset[portfolio]">
            Fitness Profile</a>
        </li>
        <li>
          <a href="images/portfolio/2015-MunzeeApp-4FitnessActivity.png" title="Munzee App - Fitness Activity" rel="gb_imageset[portfolio]">
            Fitness Activity</a>
        </li>
        <li>
          <a href="images/portfolio/2015-MunzeeApp-5FitnessLeaderboard.png" title="Munzee App - Fitness Leaderboard" rel="gb_imageset[portfolio]">
            Fitness Leaderboard</a>
        </li>
      </ul>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2015-MunzeeCom-FitnessLeaderboard.png" title="Munzee - Fitness Leaderboard" rel="gb_imageset[portfolio]">
          2015: Munzee.Com - Fitness Leaderboard</a>
      </h4>
      <p>
        The website version of the Fitness Leaderboard.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2015-MunzeeCom-ZodiacTypes.png" title="Munzee - Zodiac Types" rel="gb_imageset[portfolio]">
          2015: Munzee.Com - Zodiac Types</a>
      </h4>
      <p>
        The Zodiac Type was a successful monthly subscription campaign. One released per month for 12 months, exclusive to Munzpak Subscribers.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2012-WorldVenturesDreamtrips-homepage.png" title="World Ventures - Dreamtrips Homepage" rel="gb_imageset[portfolio]">
          2014: World Ventures - Dreamtrips Homepage</a>
      </h4>
      <p>
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2012-WorldVenturesDreamtrips-details.png" title="World Ventures - Dreamtrips Details" rel="gb_imageset[portfolio]">
          2014: World Ventures - Dreamtrips Details page</a>
      </h4>
      <p>
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2006-max-factor.jpg" title="MaxFactor.Com" rel="gb_imageset[portfolio]">2006: MaxFactor.Com</a>
      </h4>
      <p>
        While a member of the implementation team at imc2, we won a Dallas Bronze Addy award for our work on MaxFactor.Com's Carmen Electra campaign.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2007-secret-1approved.jpg" title="Secret.Com/Share approved secrets" rel="gb_imageset[portfolio]">
          2007: Secret.Com/Share (website)</a>
      </h4>
      <p>
        Also while at imc2, Secret.Com wanted to start a campaign to collect people's secret's for publication on the web. They were collected, primarily,
        from the web, but there was also a Cellular Short Number that secrets could be texted in. Secret rented all the media displays in New York's Time Square
        for a day and people could submit a secret to the short number and in a few minutes, have their secret shown on the media displays.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2007-secret-2approved-admin.jpg" title="Secret.Com/Share admin interface, approved secrets" rel="gb_imageset[portfolio]">
          2007: Secret.Com/Share (admin)</a>
      </h4>
      <p>
        Secret needed an interface to approve or deny submitted secrets.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2007-secret-3declined-admin.jpg" title="Secret.Com/Share admin interface, rejected secrets" rel="gb_imageset[portfolio]">2007: Secret.Com/Share (admin)</a>
      </h4>
      <p>
        Not all submitted secrets were appropriate for the website.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2005-quickcare-v2.jpg" title="QuickCARE.Com (v2)" rel="gb_imageset[portfolio]">
          2005: QuickCARE.Com (v2)</a>
      </h4>
      <p>
        This was the redesign of the online presence when I was hired to the company.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2006-quickcare-v3.jpg" title="QuickCARE.Com (v3)" rel="gb_imageset[portfolio]">
          2006: QuickCARE.Com (v3)</a>
      </h4>
      <p>
        Coinciding with the launch of their new QC3net product, the website was redesigned at that time.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2006-obra-ez.jpg" title="OBRA-EZ.Com" rel="gb_imageset[portfolio]">
          2006: QuickCARE Subsidiary: OBRA-EZ.Com</a>
      </h4>
      <p>
        QuickCARE bought a company that offered a similar product catered to smaller facilities and it needed an online presence.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2006-qc3net-3d-white.jpg" title="QuickCARE 3D image for QC3net product" rel="gb_imageset[portfolio]">
          2006: QuickCARE 3D image for QC3net product</a>
      </h4>
      <p>
        The CEO wanted a "fresh look" for the logo and I learned 3DSMax to try a logo that ended up on give-aways.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2005-quickcare-print-ad.jpg" title="QuickCARE QC3net print ad" rel="gb_imageset[portfolio]">
          2005: QuickCARE QC3net print ad</a>
      </h4>
      <p>
        QuickCARE print ad for their new QC3net product coinciding with the v3 release of the website.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2004-quickcare-color-guideline.jpg" title="QuickCARE Branding Guidelines (v2)" rel="gb_imageset[portfolio]">
          2004: QuickCARE Branding Guidelines (v2)</a>
      </h4>
      <p>
        Part of my time with QuickCARE involved establishing branding guidelines for the company and training all employees on it.
        No guidelines existed before I started with the company and several instances of mismatched logo could be found on the business
        doors and CD labels. Each person would just come up with a logo when needed and send it. I also establishd a logo repository.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2004-quickcare-color-guideline-qc3.gif" title="QuickCARE Branding Guidelines (v3)" rel="gb_imageset[portfolio]">
          2004: QuickCARE Branding Guidelines (v3)</a>
      </h4>
      <p>
        Some updates to the guidelines with the v3 release.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2002-mdnetwork.jpg" title="MDNetwork.Com Comp" rel="gb_imageset[portfolio]">
          2002: MDNetwork.Com Comp</a>
      </h4>
      <p>
        This was a comp for a website that to help locate Medical Doctors in your area.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2003-ruby-study.jpg" title="RubyStudy.Com" rel="gb_imageset[portfolio]">
          2003: RubyStudy.Com</a>
      </h4>
      <p>
        A website for the research project RUBY (Racial Uniqueness of Black Youth).
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2006-focuztech.jpg" title="FocuzTech.Com Comp" rel="gb_imageset[portfolio]">
          2006: FocuzTech.Com Comp</a>
      </h4>
      <p>
        A comp of the FocusTech.Com website I worked on.
      </p>
    </li>
    <li>
      <h4>
        <a href="images/portfolio/2009-tactical-gear.jpg" title="TacticalGearNow.Com Comp" rel="gb_imageset[portfolio]">
          2009: TacticalGearNow.Com Comp</a>
      </h4>
      <p>
        TacticalGearNow comp looking to redesign their existing website.
      </p>
    </li>
    <!--
    <li>
        <h4>
        <a href="xxx" title="xxx" rel="gb_imageset[portfolio]">200:</a>
        </h4>
        <p>
        </p>
    </li>
     -->
  </ul>
</div>